html {
  font-family: Rancho, cursive;
  font-size: 110%;
}

body {
  margin: 0;
}

.skip-links {
  display: none;
}

.jump-link {
  position: absolute;
  top: -5em;
}

.jump-link:hover {
  background-color: #000;
}

li {
  list-style: none;
  list-style-type: none;
}

li, a {
  color: #113448;
}

.nav {
  color: #fff;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  list-style: none;
  list-style-type: none;
  background-color: #113448;
}

.nav-link {
  color: #fff;
  list-style: none;
  list-style-type: none;
  border: .2rem solid #fff;
  background-color: #fff;
  padding: .5em;
}

.nav-link:hover {
  color: #fff;
  background: #14bf98;
  padding: .2rem;
  border: .2rem solid #14bf98;
  justify-content: space-around;
  text-align: center;
  margin: 0;
}

.nav:hover {
  background-color: #22526e;
}

.caption {
  color: #fff;
}

main {
  font-size: 1.5em;
}

.back-to-top {
  position: fixed;
  z-index: 999;
  right: .75rem;
  bottom: .75rem;
  display: none;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 1.875rem;
  background: #14bf98 url("../images/up-arrow.png") no-repeat center 47%;
  background-size: auto;
  background-size: 1.125rem 1.125rem;
  text-indent: -9999px;
}

header {
  display: block;
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url("../images/camping.jpg") center center no-repeat;
  background-size: auto, auto;
  align-items: center;
  text-align: center;
}

h1 {
  margin-top: 1em;
  margin-bottom: .5rem;
  color: #fff;
}

.btn-t {
  display: inline-block;
  padding: 1.375rem 2.125rem;
  border: .125rem solid #113448;
  border-radius: .25rem;
  background-color: #113448;
  color: #fff;
  font-family: "Source Serif Pro", serif;
  text-decoration: none;
  transition: all .2s;
  align-items: center;
}

.btn-t:hover {
  display: inline-block;
  padding: 1.375rem 2.125rem;
  border: .125rem solid #14bf98;
  border-radius: .25rem;
  background-color: #14bf98;
  color: #fff;
  font-family: "Source Serif Pro", serif;
  text-decoration: none;
  transition: all .2s;
  align-items: center;
}

img {
  width: 100%;
}

.card-1 p {
  color: #000;
}

.idk {
  display: grid;
  grid-template-areas: "box1 box2";
  margin: 0;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.tales-1 {
  margin: 0;
  width: 100%;
}

.tales-2 {
  margin: 0;
  width: 100%;
}

.card-2 p {
  color: #000;
}

footer {
  padding-top: 5rem;
  display: grid;
  grid-template-areas: "box1 box2";
  margin: 0;
  grid-template-columns: 1fr 1fr;
  height: 34.625rem;
  background-color: #113448;
  color: #fff;
}

.foot-card-1:nth-child(1) {
  display: inline-block;
  vertical-align: top;
  max-width: 28rem;
  grid-area: box1;
}

.foot-card-1:nth-child(2) {
  display: inline-block;
  vertical-align: top;
  max-width: 28rem;
  margin-left: 5rem;
  grid-area: box2;
}

h5 {
  border-bottom-style: solid;
  border-bottom-color: #fff;
  margin: 0 0 1rem;
}

.btn {
  background-color: #d7d7d7;
  color: #113448;
  border-radius: .5rem;
  border-color: #fff;
}

.container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-container img {
  width: 50%;
  align-items: center;
  justify-content: center;
}

.text-container, p {
  text-align: center;
  align-items: center;
  justify-content: center;
}

a:hover {
  background-color: #14bf98;
  color: white;
}

@media only screen and (min-width: 38em) {

  .tales-1 {
    margin: 0;
    width: 100%;
  }

  .tales-2 {
    margin: 0;
    width: 100%;
  }

}

@media only screen and (min-width: 60em) {

  .padding-right {
    padding: 1rem;
  }

}
